@font-face {
  font-family: 'pixel';
  src: url('./assets/Pixeled.ttf');
}
*{box-sizing: border-box;
  cursor: url('./assets/pxlSword.cur'), progress;}

body::-webkit-scrollbar {display: none;}
body{
  background-image: url('./assets/table.png') ;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: xx-small;
  cursor: url('./assets/pxlSword.cur'), progress;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  background-repeat: no-repeat;
  background-size:cover;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#gameScreen{
  width: 95vw;
  width: 100svw;
  height: 95vh;
  height: 100svh;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: grid;
  grid-template: 2fr 6fr/2fr 9fr;
  border: none;
  background-image: url('./assets/table.png');
  opacity: 1;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
.title{
  margin: auto;
  font-size: small;
  background-color:rgba(0,0,0, 0);
  background-size: contain;
  width: 100%;
  height:100%;
  text-align: center;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
  color: goldenrod;
  letter-spacing:2px;
}
.shopTitle{
  transform: translateY(-55%);
  border: 0px solid black;
  letter-spacing:1px;
}
.startTitle{
  letter-spacing:2px;
  margin: none;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: xx-large;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
  color: goldenrod;
}
.card{ /*stats*/
  
  display: grid;
  grid-template-rows: 20% 80%;
  color: goldenrod;
}
.cardShop{
  
  display: grid;
  grid-template-rows: 5% 95%;
}
#stats{
  display: grid;
  grid-template-columns: repeat(8,12.5%) ;
  grid-template-rows: repeat(3,33%);
  background-image: none;
  background-size: cover;
  background-repeat:repeat;
  height:100%;
  font-size: 8px;
  align-items: stretch;
}
.statGrid{
  background-color: rgba(0,0,0,0.6);
  border: 1px gold solid;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: goldenrod;
  background-size: cover;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
  text-align: center;
}
#A{ /*shop*/
  display: flex;
  flex-flow: column nowrap;
  height:100%;
  background-color: none;
}
#B{border: 5px solid black; /*gameplay*/
  height:100%;
  width:100%;
  background-color: rgba(00, 00, 00, 0.3);
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
  color: goldenrod;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}
#C{border: 5px solid black; /*portrait*/
  height:100%;
  background-color: none;
  width: 100%; 
  display: grid;
  grid-template-columns: 50% 50%;
}
.charPortraitOne{
  background-size: cover;
  background-image:url(./assets/hermitChar.png);
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.encounterOne{
  background-size: cover;
  background-image:url(./assets/tower.png);
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.charPortraitTwo{background:url(./assets/empChar.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.charPortraitThree{background:url(./assets/wizChar.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.charPortraitFour{background:url(./assets/priestChar.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.encounterTwo{background:url(./assets/strengthEncounter.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.encounterThree{background:url(./assets/wheelEncounter.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.encounterFour{background:url(./assets/moonEncounter.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.encounterFive{background:url(./assets/hangedEncounter.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  border: 1px black ridge;
}
.storeButt{
  background-color: rgba(0,0,0, 0.7);
  color: goldenrod;
  background-size: cover;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
}
.storeButt:hover{
  box-shadow: 0px 0px 5px 5px goldenrod;
}

.storeButt[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  font-weight: 600;
  position: absolute;
  background-color: rgba(00,00,00,1);
  z-index: 1;
  border: goldenrod ridge 3px;
  margin: auto;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: xx-small;
}
button{
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: xx-small;
}

#startScreen{
  width: 99vw;
  height: 95vh;
  margin: auto;
  z-index: 2;
  background-image: url('./assets/table.png');
  opacity: 1;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
}
.tarot{
  background-color: white;
  width: 30vmin;
  z-index: 3;
  aspect-ratio: 4/7;
  position:absolute;
}
#tarotWrapWrap{
  width: 99vw;
  height: 95vh;
  display: grid;
  place-items: center;
}
#tarotWrap{
  width: 30vmin;
  aspect-ratio: 4/7;
  z-index: 5;
  background: none;
}
.tarot:nth-child(1){
  transform: translateX(30%) rotate(5deg);
  background-image: url(./assets/hermitChar.png);
  background-size:cover;
  border-radius: 2vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  transition: all 1200ms cubic-bezier(0.5, 0.5, 0.25, 0.95);
  filter: grayscale(75%);
  }
.tarot:nth-child(2){
  transform: rotate(-2deg) translateX(-20%);
  background-image: url(./assets/empChar.png);
  background-size:cover;
  border-radius: 2vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  transition: all 1200ms cubic-bezier(0.5, 0.5, 0.25, 0.95);
  filter: grayscale(75%);
  }
.tarot:nth-child(3){
  transform: translateX(-30%) rotate(-5deg);
  background-image: url(./assets/wizChar.png);
  background-size:cover;
  border-radius: 2vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  transition: all 1200ms cubic-bezier(0.5, 0.5, 0.25, 0.95);
  filter: grayscale(75%);
  }
.tarot:nth-child(4){
  transform: translateX(0%) rotate(0deg);
  background-image: url(./assets/priestChar.png);
  background-size:cover;
  border-radius: 2vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  transition: all 1200ms cubic-bezier(0.5, 0.5, 0.25, 0.95);
  filter: grayscale(75%);
  }
button.fill-div {
  display: relative;
  text-decoration: none;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  z-index: 4;
  transition: all 1200ms cubic-bezier(0.5, 0.5, 0.25, 0.95);
}
.tarotTransA{
  transform: translateX(210%) rotate(0deg) !important;
}
.tarotTransA:hover{
  filter: none !important;
}
.tarotTransA>button:hover{
  background: none !important;
  transition: all  cubic-bezier(0.5, 0.5, 0.25, 0.95)!important;
  border: ridge black 4px;
  box-shadow: 0px 0px 10px 10px goldenrod;
  border-radius: 2vmin;
}
.tarotTransA>button[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  position: relative;
  background-color: rgba(00,00,00,0.7);
  z-index: 1;
  border: gold ridge 3px;
  margin: auto;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: medium;
  top: 65%;
  width: 100%;
  white-space: pre;
  text-align: center;
}
.tarotTransB{
  transform: translateX(-70%) rotate(0deg) !important;
}
.tarotTransB:hover{
  filter: none !important;
}
.tarotTransB>button:hover{
  background: none !important;
  transition: all  cubic-bezier(0.5, 0.5, 0.25, 0.95) !important;
  border: ridge black 4px;
  box-shadow: 0px 0px 10px 10px goldenrod;
  border-radius: 2vmin;
}
.tarotTransB>button[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  position: relative;
  background-color: rgba(00,00,00,0.7);
  z-index: 1;
  border: gold ridge 3px;
  margin: auto;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: medium;
  top: 65%;
  width: 100%;
  white-space: pre;
  text-align: center;
}
.tarotTransC{
  transform: translateX(-210%) rotate(0deg) !important;
}
.tarotTransC:hover{
  filter: none !important;
}
.tarotTransC>button:hover{
  background: none !important;
  
  transition: all  cubic-bezier(0.5, 0.5, 0.25, 0.95) !important;
  border: ridge black 4px;
  box-shadow: 0px 0px 10px 10px goldenrod;
  border-radius: 2vmin;
}
.tarotTransC>button[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  position: relative;
  background-color: rgba(00,00,00,0.7);
  z-index: 1;
  border: gold ridge 3px;
  margin: auto;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: medium;
  top: 65%;
  width: 100%;
  white-space: pre;
  text-align: center;
}
.tarotTransD{
  transform: translateX(70%) rotate(0deg) !important;
}
.tarotTransD:hover{
  filter: none !important;
}
.tarotTransD>button:hover{
  background: none !important;
  transition: all  cubic-bezier(0.5, 0.5, 0.25, 0.95) !important;
  border: ridge black 4px;
  box-shadow: 0px 0px 10px 10px goldenrod;
  border-radius: 2vmin;
}
.tarotTransD>button[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  position: relative;
  background-color: rgba(00,00,00,0.7);
  z-index: 1;
  border: gold ridge 3px;
  margin: auto;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: medium;
  top: 65%;
  width: 100%;
  white-space: pre;
  text-align: center;
}
.enemyOne{
  background-image: url(./assets/foolEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;

}
.enemyTwo{
  background-image: url(./assets/wandPageEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyThree{
  background-image: url(./assets/wandKnightEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyFour{
  background-image: url(./assets/cupQueenEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyFive{
  background-image: url(./assets/hieroEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemySix{
  background-image: url(./assets/chariotEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemySeven{
  background-image: url(./assets/pentKingEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyEight{
  background-image: url(./assets/swordQueenEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyNine{
  background-image: url(./assets/angelEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.enemyTen{
  background-image: url(./assets/deathEnemy.png);
  background-size: cover ;
  aspect-ratio: 4/7;
  border-radius: 0.5vmin;
  border: black ridge 2px;
  box-shadow: 1px 1px 3px 3px black;
  height:80%;
}
.encounterScreen{
  width: 82%;
  height: 65%;
  margin: auto;
  z-index: 1000000;
  background-color: rgba(0,0,0, 0.8);
  position: fixed;
  color: goldenrod;
  text-align: center;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
}
.encounterButt{
  background-color: rgba(218,165,32, 0.7);
  color: black;
  background-size: cover;
  text-shadow:
  0.07em 0 black,
  0 0.07em black,
  -0.07em 0 black,
  0 -0.07em gold;
  border: black 1px solid;
  margin: 2rem;
  padding: auto;
}
.encounterButt:hover{
  box-shadow: 0px 0px 5px 5px goldenrod;
}

.encounterButt[data-title]:hover::after {
  content: attr(data-title);
  color: goldenrod;
  font-weight: 600;
  position: absolute;
  background-color: rgba(00,00,00,1);
  z-index: inherit;
  border: goldenrod ridge 3px;
  margin-top: 0.7rem;
  font-family: 'pixel','Times New Roman', Times, serif;
  font-size: xx-small;
  text-align: center;
  white-space: pre;
  display: flex;
  justify-content: space-between;
}
